<div class="modal fade" data-backdrop="static" data-keyboard="false" id="Activecustomer" tabindex="-1" role="dialog" aria-labelledby="Activecustomer"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="iconwrap delete">
          <i class="icon workorderico" aria-hidden="true"></i>
        </div>
       
        <div class="btn-wrap">
          <button type="button"   class="btn btn-outline-dark" data-dismiss="modal">
            cancel
          </button>
          <button type="button"  data-dismiss="modal" (click)="delete()" class="btn btn-lg btn-primary mr-0">
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>